.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 2;
}

* {
    box-sizing: border-box;
}

@media only screen and (min-width: 600px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}


[class*="col-"] {
    float: left;
    padding: 15px;
}

@media screen and (max-width: 800px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}

@media screen and (max-width: 550px) {
    .rivi1{
        display:block;
        padding: 20px 0px 0px 20px;
    }
}

@media screen and (max-width: 550px) {
    #yht {
        display:block;
        padding: 20px 0px 0px 0px;
    }
}

@media screen and (max-width: 550px) {
    textarea {
        width: 400px !important; 
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

label{
    display: inline-block;
    padding: 0px 0px 0px 20px;
}

img {
    width: 200px;
}

.rivi1 {
    display: inline-block;
    padding: 0px 20px;
}

.p{
    padding: 10px;
}

textarea {
    width: 500px;
    height: 200px;
}

.nappi{
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px;
  margin: 0 5px 10px 0;
  overflow: visible;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.nappi:focus {
  text-decoration: none;
}

.nappi:hover {
  text-decoration: none;
}

.nappi:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.nappi:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
